@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.App {
  text-align: center;
}

.container {
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.type-writer {
  font-size: 5rem;
}

.App-header {
  background-color: #b4c5e4;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3c3744;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divder h2 {
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  padding-top: 5rem;
  width: 100%;
  text-align: left;
  text-indent: 40px;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divder h2 span {
  font-size: 3.5rem;
  background: #fff;
  padding: 0 10px;
}

.about-me {
  font-size: 2.5rem;
  font-weight: 50;
  text-align: center;
}

.about-me-info {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 30px;
}

.about-me-info p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.about-me-info2 p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.section-header {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.education-info {
  padding-left: 2.5rem;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.education-info p {
  padding-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}

.skills {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: left;
  list-style: none;
}

.tech-projects {
  list-style: none;
  padding-top: 15px;

  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-align: left;
}

.button-download {
  font-size: 5rem;
}

.button-divide {
  width: 30px;
  height: auto;
  display: inline-block;
}

.section-header-contact {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.spacer {
  height: 30px;
  display: inline-block;
}

